.containerOfText {
    margin: 1% 0% 2% 1%;
    display: inline-block;
    border-right: solid 2px black;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    white-space: nowrap;
    animation: animatedBorder 4s steps(50, end) forwards;
}

.text {
    display: inline-block;
    animation: animatedText 2s steps(50, end) forwards;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes animatedText {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes animatedBorder {
    0% {
        width: 0ch;
    }

    20% {
        width: attr(dataText)/5ch;
    }

    40% {
        width: attr(dataText)/4ch;
    }

    60% {
        width: attr(dataText)/3ch;
    }

    80% {
        width: attr(dataText)/2ch;
    }

    100% {
        width: attr(dataText)ch;
    }
}